.resourceContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: auto;
	justify-content: space-around;
	gap: 2rem 3rem;
	margin-bottom: 4rem;
	border-left: solid 4px black;
	border-right: solid 4px black;
	border-bottom: solid 4px black;
	padding: 2rem 0;
}
