/* .overlay {
	z-index: 0;
	position: absolute;
	background-color: grey;
	width: 100vw;
	height: 100vh;
} */

.modalContainer {
	position: fixed;
	left: 5%;
	top: 10%;
	width: 100vw;
	height: 100vh;
}
.navItems li {
	list-style: none;
}
