/* Desktop View */

@media screen and (min-width: 1200px) {
	.mobileContainer {
		display: none;
	}

	.desktopContainer:hover {
		color: black;
		background-color: var(--sq-gold);
		transform: scale(1.1);
	}
	.desktopContainer {
		padding: 1rem;
	}

	.itemContainer {
		display: flex;
		font-size: 1.5rem;
		align-items: center;
		gap: 2rem;
	}
	.itemContainer:hover {
		color: black;
	}
}

/* Mobile view */

@media screen and (max-width: 1199px) {
	.desktopContainer {
		display: none;
	}
	.mobileContainer {
		display: block;
	}
	.itemContainer {
		font-size: 1.5rem;
		padding: 1rem;
		margin-left: 2rem;
	}
}
