.entityContainer {
	max-width: 30rem;
	max-height: 50rem;
	overflow: hidden;
	border: solid 3px black;
	box-shadow: 0 3px 10px black;
	z-index: 0;
}

.entityContainer:hover {
	cursor: pointer;
}

.entityContainer:hover h3 {
	text-decoration: underline;
}

.entityContainer:hover + .cardContainer {
	filter: blur(1.5rem);
}

.cardContainer {
	/* position: relative; */
	max-width: 40rem;
	max-height: 50rem;
	display: flex;
	flex-direction: column;
	object-fit: contain;
	background-color: black;
}

.imageContainer {
	display: block;
}

.imageContainer:hover {
	filter: blur(1.5rem);
}

.imageContainer p:hover {
	filter: blur(1.5rem);
}

.cardDescription {
	display: inline-block;
	/* position: absolute; */
	color: var(--sq-white);
	font-size: 2rem;
	top: 20%;
	left: 25%;
	margin: 0 0.5rem;
	font-weight: 700;
	line-height: 1.5;
}

.cardInfo {
	display: flex;
	flex-direction: row;
	padding: 0 1.4rem;
	border-top: solid 3px black;
	background-color: var(--sq-blue);
	color: var(--sq-white);
	align-items: center;
}

.cardName {
	margin: 2rem 1rem;
	font-size: 1.3em;
}

.requiresCacBox {
	padding: 2rem 2rem;
	font-size: 2rem;
	border: solid 3px black;
	margin: 0.5rem;
	border-radius: 25%;
}
