.routeContainer {
	color: var(--sq-white);
	position: absolute;
	background-color: var(--sq-blue);

	z-index: 1;
	border: 3px solid black;
	border-radius: 5%;
	overflow: hidden;
	padding: 2rem;
	box-shadow: 0px 0px 10px black;
}

.routeContainer:hover {
}

.routeContainer li {
	list-style: none;
}
.routeHeading {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

.line {
	border-bottom: 5px solid var(--sq-grey);
}
