/* Component Styles */

.routeContainer {
	transition: 1s ease-in;
}

.routeHeading {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

/* Desktop View */
@media screen and (min-width: 1200px) {
	.desktopContainer {
		color: var(--sq-white);
		background-color: var(--sq-blue);
		position: absolute;
		z-index: 1;
		border: 3px solid black;
		border-radius: 5%;
		overflow: hidden;
		padding: 2rem;
		box-shadow: 0px 0px 10px black;
	}

	.mobileContainer {
		display: none;
	}

	.routeContainer li {
		list-style: none;
	}

	.line {
		border-bottom: 5px solid var(--sq-grey);
	}
}

/* Mobile View */
@media screen and (max-width: 1199px) {
	.desktopContainer {
		display: none;
	}

	.mobileContainer {
		position: static;
		color: var(--sq-white);
		background-color: var(--sq-blue);
		border-bottom: 3px solid black;
		width: 100vw;
		z-index: 99;
	}

	.dropDownSvg {
		height: 25px;
		width: 25px;
	}

	.mobileHeader {
		display: flex;
		align-items: center;
		padding: 1rem;
	}

	.routeHeading {
		font-size: 3rem;
		cursor: pointer;
	}

	.mobileItems ul {
		list-style: none;
	}

	.dropDownBtn {
		margin-left: auto;
	}
}
