@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	--sq-gold: #fad61c;
	--sq-white: #f8fafd;
	--sq-blue: #093596;
	--sq-grey: #a0a0a0;
}

html,
body {
	font-family: Roboto, Oxygen, sans-serif;
	height: 100%;
	font-size: 10px;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
