/* Base component design */
.Nav {
	background-color: var(--sq-blue);
	color: var(--sq-white);
	max-height: 5rem;
}

/* Desktop View */
@media screen and (min-width: 1200px) {
	.mobileItems {
		display: none;
	}

	.subNav:hover {
		display: contents;
		color: var(--sq-gold);
	}
	.routeContainer {
		display: block;
	}

	.deskItems {
		display: flex;
		justify-content: center;
		gap: 2rem;
		font-size: 3.8rem;
		font-weight: 600;
		padding-bottom: 0.5rem;
		text-decoration: underline;
	}

	.deskItems > li:hover {
		color: var(--sq-gold);
	}

	.deskItems li {
		list-style: none;
	}
}

/* Mobile view and mobile portrait */

@media screen and (max-width: 1199px) {
	.deskItems {
		display: none;
	}
	.Nav {
		/* position: fixed; */
		top: 0;
		left: 0;
		right: 0;
	}
	.mobileItems {
		display: flex;
		flex-direction: row;
		font-size: 4.2rem;
		flex-grow: 1;
		list-style-type: none;
		margin: 0 0.5rem;
		position: sticky;
		top: 0;
		z-index: 99;
	}
	.lastItem {
		margin-left: auto;
	}

	.hamSvg {
		height: 3rem;
		width: 3rem;
	}
	.hamBtn {
		background-color: var(--sq-blue);
		color: var(--sq-white);
		border: none;
	}
}
