/* Base component design */
.Nav {
	background-color: var(--sq-blue);
	color: var(--sq-white);
}

/* Desktop View */
@media screen and (min-width: 501px) {
	.mobileItems {
		display: none;
	}
	/* .subNavHide {
		Controls visibility of drop down menu items
		display: none;
	} */

	.subNav:hover {
		display: contents;
		color: var(--sq-gold);
	}
	.routeContainer {
		display: block;
	}

	.deskItems {
		display: flex;
		justify-content: center;
		gap: 2rem;
		font-size: 3rem;
		font-weight: 600;
		padding-bottom: 0.5rem;
	}

	.deskItems > li:hover {
		color: var(--sq-gold);
	}

	.deskItems li {
		list-style: none;
	}

	/* .subNavItems > a:hover {
		color: var(--sq-gold);
	} */
}

/* Mobile view */

@media screen and (max-width: 500px) {
	.mobileNav {
		display: flex;
	}

	.mobileNav ul {
		display: flex;
		direction: row;
	}

	.hamSvg {
		height: 25px;
		width: 25px;
	}

	.deskItems {
		display: none;
	}
}
